[submodule "Frameworks/ChatClientKit"]
	path = Frameworks/ChatClientKit
	url = https://github.com/Lakr233/ChatClientKit.git
[submodule "Frameworks/mlx-swift-lm"]
	path = Frameworks/mlx-swift-lm
	url = https://github.com/ml-explore/mlx-swift-lm.git
	branch = main
[submodule "Frameworks/MarkdownView"]
	path = Frameworks/MarkdownView
	url = https://github.com/pengpercy/MarkdownView.git
	branch = main
